body{
    background-color: black;
}
.post{
    background-color: white;
    width: 433px;
    height: 593px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    /*border: 1px dashed black;*/
    background: whitesmoke;
    width: 100%;
    height: 10%;
    display: inline-block;
    /*border: 1px solid red;*/
}
.image{
    /*border: 1px dashed black;*/
    background: gray;
    width: 100%;
    height: 55%;
    /*border: 1px solid red;*/
}
img{
    /*border: 1px dashed black;*/
    width: 100%;
    height: 100%;
    /*margin: auto;*/
}
.footer{
    /*border: 1px dashed black;*/
    background: whitesmoke;
    width: 100%;
    height: 35%;
    padding-top: 2px;
    /*border: 1px solid red;*/
    bottom:0px;
}
.title{
    /*border: 1px solid white;*/
    width: 95px;
    height: 15px;
    display: inline-block;
    left: 39px;
    top: 2px;
    position: relative;
    bottom: 3px;
    text-align: justify;
    line-height: 1%;
    /*overflow-wrap: break-word;
    text-overflow: clip;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*margin-left: 40px;*/
    /*margin-top: 50px;*/
    /*margin-bottom: 15px;*/
}
#title1{
    font-size: 13px;
    position: absolute;
    top: 7px;
    font-weight: 800;
}
#title2{
    height: 20px;
    /*float: inline-start;*/
    font-size: 13px;
    position: absolute;
    top: 23px;
    font-weight: 550;
}
.icon1{
    /*width: 5px;*/
    /*height: 5px;*/
    float: left;
    position: absolute;
    top: 5px;
    left: 13px;
    /*vertical-align: middle;*/
}
.icon-1{
    font-size: 18px;
}
.icon2{
    float: right;
    position: absolute;
    top: 24px;
    right: 13px;
    /*size: 50%;*/
}
.pack{
    /*border: 1px solid white;*/
    height: 15px;
    margin-top: 20px;
    display: flex;
    width: 25px;
    height: 35px;
    /*word-spacing: 10px;*/
}
.icon3{
    width: 15px;
    /*border: 1px solid white;*/
    position: absolute;
    top: 399px;
    left: 10px;
}
.icon4{
    width: 15px;
    position: absolute;
    top: 399px;
    left: 50px;
}
.icon5{
    width: 15px;
    /*border: 1px solid white;*/
    position: absolute;
    top: 399px;
    left: 89px;
}
.icon6{
    width: 15px;
    /*border: 1px solid white;*/
    position: absolute;
    /*left: 300px;*/
    top: 399px;
    right: 25px;
}
.paragraph{
    /*border: 1px dashed black;*/
    width: 415px;
    height: 144px;
    font-weight: 500;
    left: 30px;
    top: 444px;
    right: 440px;
    bottom: 588px;
    display: block;
    text-underline-position: auto;
    /*line-height: 20px;*/
}
.third{
    /*border: 1px dashed black;*/
    height: 48px;
    width: 380px;
    font-weight: 500;
    position: absolute;
    top: 456px;
    font-size: 13px;
    text-align: center;
    /*margin-bottom: 100px;*/
}
.forth{
    /*border: 1px dashed black;*/
    width: 400px;
    height: 96px;
    font-size: 14px;
    font-weight: 500;
    font-display: block;
    position: absolute;
    left: 15px;
    padding-top: 0%;
    margin-top: 0px;
    bottom: 23px;
    text-align: left;
    /*overflow: hidden;*/
    text-overflow: clip;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}